[Unit]
Description=HPSU SLOW Daemon

[Service]
Type=simple
ExecStart=/usr/share/pyHPSU/scripts/capture-publish/hpsu.slow.sh
PIDFile=/tmp/hpsu.slow.pid
MaxRuntimeSec=8
