[Unit]
Description=HPSU MEDIUM Daemon

[Service]
Type=simple
ExecStart=/usr/share/pyHPSU/scripts/capture-publish/hpsu.medium.sh
PIDFile=/tmp/hpsu.medium.pid
MaxRuntimeSec=8
