[Unit]
Description=HPSUD
After=network.target rabbitmq-server.service
Requires=rabbitmq-server.service

[Service]
Type=simple
ExecStartPre=
EnvironmentFile=/etc/pyHPSU/pyhpsu.conf
ExecStart=/usr/bin/pyHPSUd.py -d ${PYHPSUD_DEVICE} -l ${PYHPSUD_LANG} -p ${PYHPSUD_PORT}
ExecReload=
ExecStop=

[Install]
WantedBy=multi-user.target
Alias=hpsud.service
