[Unit]
Description=HPSUD
After=network.target

[Service]
Type=forking
ExecStartPre=
EnvironmentFile=-/etc/pyHPSU/pyhpsu.conf
ExecStart=/usr/share/pyHPSUd.py ${PYHPSU_STARTPAR}
ExecReload=
ExecStop=

[Install]
WantedBy=multi-user.target
Alias=hpsud.service
