[Unit]
Description=HPSUD
After=network.target
Requires=rabbitmq-server.service

[Service]
Type=simple
ExecStartPre=
EnvironmentFile=/etc/pyHPSU/pyhpsu.conf
ExecStart=/usr/bin/pyHPSUd.py -d ${PYHPSU_DEVICE} -l ${PYHPSU_LANG}
#ExecStart=/usr/bin/pyHPSUd.py -d PYCAN -l IT
ExecReload=
ExecStop=

[Install]
WantedBy=multi-user.target
Alias=hpsud.service
