[Unit]
Description=HPSU FAST Daemon

[Service]
Type=simple
ExecStart=/usr/share/pyHPSU/scripts/capture-publish/hpsu.fast.sh
PIDFile=/tmp/hpsu.fast.pid
MaxRuntimeSec=8
