[Unit]
Description=HPSU MEDIUM Daemon

[Service]
Type=simple
ExecStart=/home/pi/scripts/hpsu.medium.sh
PIDFile=/tmp/hpsu.medium.pid
MaxRuntimeSec=8
User=pi
